public/schemas/gazebo_minimal.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://robotics.ucmerced.edu/task" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="https://robotics.ucmerced.edu/task" elementFormDefault="qualified">
  <xs:element name="TaskTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CompositeTaskInformation" type="CompositeTaskInformationType"/>
        <xs:element name="Preconditions" type="PreconditionsType" minOccurs="0"/>
        <xs:element name="AtomicTasks" type="AtomicTasksType"/>
        <xs:element name="ActionSequence" type="ActionSequenceType"/>
        <xs:element name="Outcome" type="OutcomeType" minOccurs="0"/>
        <xs:element name="Exits" type="ExitsType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="robotActionTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="moveToGPSLocation"/>
      <xs:enumeration value="moveToRelativeLocation"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="comparisonType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="lt"/>
      <xs:enumeration value="lte"/>
      <xs:enumeration value="gt"/>
      <xs:enumeration value="gte"/>
      <xs:enumeration value="eq"/>
      <xs:enumeration value="neq"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="moveToGPSLocationType">
    <xs:sequence>
      <xs:element name="latitude" type="xs:decimal"/>
      <xs:element name="longitude" type="xs:decimal"/>
      <xs:element name="reward" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="moveToRelativeLocationType">
    <xs:sequence>
      <!-- x refers to forward/back relative to the robot, y refers to side/side -->
      <!-- x=0, y=0 is the *lower right* corner -->
      <xs:element name="x" type="xs:decimal"/>
      <xs:element name="y" type="xs:decimal"/>
      <xs:element name="roll" type="xs:decimal"/>
      <xs:element name="pitch" type="xs:decimal"/>
      <!-- roll, pitch, and yaw are represented in radians here -->
      <xs:element name="yaw" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="robotActions">
    <xs:sequence>
      <xs:element name="ActionType" type="robotActionTypes" minOccurs="1"/>
      <xs:choice>
        <xs:element name="moveToGPSLocation" type="moveToGPSLocationType"/>
        <xs:element name="moveToRelativeLocation" type="moveToRelativeLocationType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompositeTaskInformationType">
    <xs:sequence>
      <xs:element name="TaskID" type="xs:string"/>
      <xs:element name="TaskDescription" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StateVariablesType">
    <xs:sequence>
      <xs:element name="StateVariable" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="VariableName" type="xs:string"/>
            <xs:element name="VariableValue" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParametersType">
    <xs:sequence>
      <xs:element name="Parameter" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="VariableName" type="xs:string"/>
            <xs:element name="VariableValue" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="stateTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="atStartingPoint"/>
      <xs:enumeration value="atEndPoint"/>
      <xs:enumeration value="batteryFull"/>
      <xs:enumeration value="batteryCharging"/>
      <xs:enumeration value="batteryLow"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PreconditionsType">
    <xs:sequence>
      <xs:element name="Precondition" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Condition" type="stateTypes"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AtomicTasksType">
    <xs:sequence>
      <xs:element name="AtomicTask" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TaskID" type="xs:string"/>
            <xs:element name="TaskDescription" type="xs:string"/>
            <xs:element name="StateVariables" type="StateVariablesType" minOccurs="0"/>
            <xs:element name="Action" type="robotActions" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Preconditions" type="PreconditionsType" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConditionalType">
    <xs:sequence>
      <xs:element name="Comparator" type="comparisonType" minOccurs="1" maxOccurs="1"/>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element name="HardValue" type="xs:double"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConditionalActionsType">
    <xs:sequence>
      <xs:element name="Conditional" type="ConditionalType" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="Sequence" type="ConditionalSequenceType" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConditionalSequenceType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="TaskID" type="xs:string"/>
        <xs:element name="ConditionalActions" type="ConditionalActionsType" minOccurs="0" maxOccurs="2"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActionSequenceType">
    <xs:sequence>
      <xs:element name="Sequence" type="ConditionalSequenceType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OutcomeType">
    <xs:sequence>
      <xs:element name="State" type="stateTypes" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="exitTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="nominal"/>
      <xs:enumeration value="faulted"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ExitsType">
    <xs:sequence>
      <xs:element name="Exit" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Type" type="exitTypes"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
